@-moz-document domain("guokr.com") {

/* Guokr.com LePtC Style，版本v1.0 beta2，作者 http://www.guokr.com/blog/506574/ */
/* 以下功能不想要的，注释掉或直接删除跟在说明后面的代码即可，删改的时候注意逗号 */



/* ===== 改主题颜色，默认为浅色主题 ===== */


/* 页面背景色，默认豆沙绿 */
body:not([id="tinymce"]),
.container, .content,
.sub-nav-link a,
.gmain, .gside, .gwrap-m, .gbottom, .wrap, 
.gui-block-hd, .gui-block-bd, .gui-block-tab,
.user-asks,.titles li, .main-message-content,
/* 增加对 MOOC 的支持 */
.main > *, .main > * > *, .side > *
/* 深色主题把下面改成 #222 即可 */
{background: #222 !important;}

.gh-notice-panel, .gh-remind-panel, .gh-panel-bottom, .gh-list,
.gui-menu > * , .name_card, .card-focus
/* 深色主题把下面改成 rgba(34,34,34,0.8) */
{background: rgba(34,34,34,0.8) !important;}

.gui-block, .answer_list-num, .invite, .gkr-rank-info,
.ask-success-tip, /*,.sub-nav-link a:not(active)*/
.baskets li:hover,
.rela-read, .editors-note, .recommend-article-next, 
.items-sticky, .item-sticky, .form-wp,
.ask-answer-nums, .ask-box-current, .gtabs-curr, .answer-num,
.linenodiv, .highlight, .highlight-container, .hll, 
.check, .percent-wrap
/* 深色主题把下面改成 rgba(255,255,255,0.2) */
{background: rgba(255,255,255,0.2) !important;}

/* 深色主题还需开启下面这段，把文字颜色变为浅色 */
h1,li,.main_text, 
.answer-txt,.post-detail,.cmt-content, .document,
.main-message-content,
.card-footmark, .card-desp, .card-focus-num span, .motto span,
.content-txt
{color: #DDD !important;} 
.img-caption span
{color: #666 !important;} 

/* 无论深浅色主题，编辑器均用深绿 */
.view, .gbtxt, .gstxt, .gttxt, 
.gform-textarea #introduction
{background: #95CC89 !important;} 
.view body {background: none !important;} 
.view body p {background: none !important; width: 600px !important;}
/* 新版编辑器有层次感... */
[id="tinymce"], .mce-panel, [id="mce_11-body"], .mce-textbox,
.edui-editor-toolbarboxinner
{background: #C7EDCC !important;}
[id="tinymce"] > *
{background: #95CC89 !important;}
/* 文字颜色实黑 */
.gbtxt, .gstxt, .gttxt,
.gform-textarea #introduction
{color: #000 !important;} 




/* 第二导航栏 */

.sub-nav {height: 34px !important;}
.sub-nav-wrap {
    height: 30px !important;
    line-height: 29px !important;
    padding: 0px 15px;
}

    


/* 已读变色功能，尽量调低优先级 */
*:visited {color: #CC88CC !important;}
/* 重新提升通知页面的优先级 */
.unread a {color: #0078B6 !important;}




/* LePtC 分割线 */
[src="http://img1.guokr.com/image/DfTVoYRY-O8XDqhRTdSKZvICsX7BdU_CgwlrID0EWeWQAQAACgAAAFBO.png"] {width: 100% !important; height: 8px !important;}




/* =====果壳问答投票渲染===== */


/* 问答的标题加大涂深绿 */
h3 {
    font-size: 14px !important;
    color: #4BA733 !important;
}
h2, #blockTitle, [id="articleTitle"] {
    font-size: 20px !important; 
    color: #4BA733 !important;
}

/* 问答的标签描蓝边 */
.gmain .tag {border: 1px solid rgb(0, 120, 182) !important;}

/* 精华星星换橙黄色 */
.gmain .post-title-star {
    background: url("http://img1.guokr.com/image/uGxG_Hq4QaBXxBqr7Ez1fRELF-2pgeXGk__3imaoHmcOAAAADgAAAFBO.png") no-repeat scroll 0px 0px transparent !important;
}

/* 支持反对计数字号加大（果壳还没见过四位数的支持...）以及圆角特效 */
*.ask-multi-up,
[class="answer-digg-up"],
[class="answer-digg-up highlight"],
[class="answer-digg-dw"],
[class="answer-digg-dw highlight"] {
    font-size: 16px !important;
    border: 2px solid #4BA733 !important;
    /* 想要直角的话注释下面这行即可 */
    border-radius: 5px !important;
}

/* 支持涂绿 */
*.ask-multi-up,
*.ask-side-up,
[class="answer-digg-up"] {
    color: #4BA733 !important;
}
/* 已投票的话反浅绿色提醒 */
[class="answer-digg-up highlight"] {
    color: rgb(255, 255, 255) !important;
    background: rgb(136, 201, 50) !important;
}
/* 反对调整一下高度 */
[class="answer-digg-dw"] {
    line-height: 40px !important;
}
[class="answer-digg-dw highlight"] {
    line-height: 40px !important;
    color: rgb(255, 255, 255) !important;
    background: rgb(136, 201, 50) !important;
}

/* 回答楼层条涂绿 */
.answer-t {
    background: rgb(150, 225, 142) !important;
    border: 2px solid #4BA733 !important;
}
/* 调整灰色文字颜色 */
.answer-usr, .answer-date {
    color: #4BA733 !important;
    font-size: 14px !important;
}
/* 回答者的名字加大 */
.answer-usr-name {
    font-size: 18px !important;
}

/* 感谢等按钮也描个边吧~ */
[data-operation="thankAnswer"] {
    color: #4BA733 !important;
    background: rgb(220, 220, 220) !important;
    border: 2px solid #4BA733 !important;
}
[data-operation="helplessAnswer"] {border: 2px solid rgb(150, 150, 150) !important;}
[data-report="yes"] {border: 2px solid rgb(255, 0, 0) !important;}

[data-operation="thankAnswer"],
[data-operation="helplessAnswer"],
[data-report="yes"] {
    background: rgb(220, 220, 220) !important;
    /*border-radius: 5px !important;*/
}

/* 本狸的名字高亮加粗 >_< */
[href="http://www.guokr.com/i/1585771774/"] {
    color: rgb(243, 117, 38) !important;
    font-weight: bold !important;
}
/* @我的地方高亮 */
[href="http://www.guokr.com/n/LePtC/"],
/* 你还可以设置你关注的人名字高亮 */
[href="http://www.guokr.com/i/2063560525/"],
[href="http://www.guokr.com/i/0884326152/"],
[href="http://www.guokr.com/i/0292919128/"],
[href="http://www.guokr.com/i/1769480175/"],
[href="http://www.guokr.com/i/0052772945/"],
[href="http://www.guokr.com/i/1632399724/"],
[href="http://www.guokr.com/i/0058808914/"],
[href="http://www.guokr.com/i/1718135011/"],
[href="http://www.guokr.com/i/1144917664/"],
[href="http://www.guokr.com/i/1924760579/"],
[href="http://www.guokr.com/i/2138543652/"],
[href="http://www.guokr.com/i/0351792525/"],
[href="http://www.guokr.com/i/0473918687/"],
[href="http://www.guokr.com/i/0731713163/"],
[href="http://www.guokr.com/i/0275510731/"],
[href="http://www.guokr.com/i/1834626891/"],
[href="http://www.guokr.com/i/1126602624/"]
{color: rgb(243, 117, 38) !important;}




/* =====以下是各种屏蔽===== */


/* 反正我从来不分享 */
.shareAnswer.ghide.bdsharebuttonbox.bdshare-button-style0-16,
/* 我不用看热门标签 */
.ask-index-list.ask-hot-tags.gclear,
/* 我不用看问答帮助 */
.ask-index-list.ask-index-help.gclear,
/* 隐藏可能感兴趣的小组 */
.group-mine-page .group-recom,
/* 屏蔽换来换去的推广，跟广告似的 */
.side-promote
{display: none !important;}

/* 隐藏浮动按钮 */
/* （果壳问答的） */
.tool-question .question ,
.tool-share .share ,
.tool-gotop .gotop ,
/* （果壳小组的） */
.tool-comment .comment ,
.tool-reply .reply ,
.tool-mygroups .mygroups ,
/* （主题站的） */
.tool-casual .casual,
/* （日志的） */
.gui-screen-top,
/* （MOOC 的） */
.screen-top
{display: none !important;}





/* =====可选功能===== */


/* 强制防误删，默认不开启 
[data-operation="deleteAnswer"],
[data-operation="deleteComment"],
[id="deleteBlog"],
[data-operation="delete"]
{display: none !important;} */

/* 隐藏果壳图标
.sub-nav-wrap h2 a {display: none !important;} */

/* 小屏幕下右侧物体向左贴紧 */
.gh-notice.gfr, .sub-nav-btn.gfr
{float: none !important;}
/* 必要时隐藏搜索框把位置给通知栏，默认不开启 
.gh-wrap .gh-search {display: none !important;}*/


/* 可选功能：首页显示完整显示预览 
.gellipsis { white-space: normal !important;}*/


/* Fix only for LePtC */
body {min-width: 650px !important;}

}

